<h1 id="neon">Eat-Da-Burger</h1>

<ul id="eat-me">
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers devoured=false}}
    {{/unless}}
    {{/each}}

</ul>


<ul id="devoured">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers devoured=true}}
    {{/if}}
    {{/each}}
</ul>


<form>
    <div id="menu-item">
        <label for="new">Add Burger</label>
        <input type="text" id="burger" name="rare">
    </div>
    <button id="grill-it-up" type="submit" name="new-burger">Grill It!</button>
</form>