<h1 id="neon">Nikki Carrera's Burger Shack</h1>

<ul id="eat-me">
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers devoured=false}}
    {{/unless}}
    {{/each}}

</ul>

<ul id="devoured">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers devoured=true}}
    {{/if}}
    {{/each}}
</ul>


<form action="/burgers/create" method="POST">
    <div id="menu-item">
        <label class="noob-saibot" for="new">Add Burger</label>
        <input type="text" id="enter_text" name="burger_name">
    </div>
    <button class="grill-it" type="submit" id="text-enter-button">Grill It!</button>
</form>