#devoured {
    font-size: 40px;
    margin-top: 215px;
    position: relative;
    float: right;
    background-color: dimgrey;
    text-decoration-line: line-through;
}
#neon {
    font-size: 40px;
    text-align: center;
    color: tomato;
}
#eat-me {
    margin-top: 215px;
    font-weight: 500;
    font-size: 40px;
    margin-left: 50px;
    position: relative;
    display: inline-block;
    color: orangered;
}
body {
    background-image: url("https://images.unsplash.com/photo-1552718752-c682d315b136?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    

}
#burger {
    width: 200px;
}

.devour {
    color: tomato;
    padding: 5px;    
}
.noob-saibot {
    text-align: center;
    color: yellow;
    font-size: 20px;
}
.grill-it {
    color: tomato;
    padding: 5px;
}